<ion-header>
    <ion-toolbar>
        <ion-title>Not so awesome todolist</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            <ion-input placeholder=">_"></ion-input>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <todo-item *ngFor="let todo of todoList" [item]="todo"></todo-item>
                        </ion-list>
                        <ion-note>
                            <todo-controls (controlEvent)="listSegmentChangeHandler($event)"></todo-controls>
                        </ion-note>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
